<%= form_with(model: restaurant_event, local: true) do |form| %>
  <% if restaurant_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant_event.errors.count, "error") %> prohibited this restaurant_event from being saved:</h2>

      <ul>
      <% restaurant_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :full %>
    <%= form.check_box :full %>
  </div>

  <div class="field">
    <%= form.label :amount_of_members %>
    <%= form.number_field :amount_of_members %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
