<%= stylesheet_link_tag "style.css" %>
<div class="container">
<div class="card rounded" style="width: 30rem; padding:20px; background: white">
  <div class="card-body">
    <h1 class="card-title">Welcome!
</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Fav meal:</strong>
  <%= @user.fav_meal %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @user.availability %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Restaurants', restaurants_path %> |
<%= link_to 'Events', events_path %>


</div>
</div>
</div>
