<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <input type="text" name="event[name]" id="event_name" class="form-control">
  </div>

  <div class="form-group">
    <%= form.label :user_event_id %>
    <input type="number" name="event[user_event_id]" id="event_user_event_id" class="form-control">
  </div>

  <div class="form-group">
    <%= form.label :restaurant_event_id %>
    <input type="number" name="event[restaurant_event_id]" id="event_restaurant_event_id" class="form-control">
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
