<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>User event:</strong>
  <%= @event.user_event_id %>
</p>

<p>
  <strong>Restaurant event:</strong>
  <%= @event.restaurant_event_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
