<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <input type="text" name="restaurant[name]" class="form-control" id="restaurant_name">
  </div>

  <div class="form-group">
    <%= form.label :cuisine %>
    <input type="text" name="restaurant[cuisine]" class="form-control" id="restaurant_cuisine">
  </div>

  <div class="form-group">
    <%= form.label :like_id %>
    <input type="number" name="restaurant[like_id]" class="form-control" id="restaurant_like_id">
  </div>

  <div class="form-group">
    <%= form.label :zipcode %>
    <input type="number" name="restaurant[zipcode]" class="form-control" id="restaurant_zipcode">
  </div>

  <div class="form-group">
    <%= form.label :restaurant_event_id %>
    <input type="number" name="restaurant[restaurant_event_id]" class="form-control" id="restaurant_restaurant_event_id">
  </div>

  <button class="btn btn-success" type="submit">
  Submit
  </button>
<% end %>
