<%= form_with(model: liked, local: true) do |form| %>
  <% if liked.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(liked.errors.count, "error") %> prohibited this liked from being saved:</h2>

      <ul>
      <% liked.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.text_field :restaurant_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
