<%= stylesheet_link_tag "style.css" %>
<div class="container">
<div class="card rounded" style="width: 100%; padding:20px; margin: 20px; background: white">
  <div class="card-body">
    <h1 class="card-title">Likes
</h1>
<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @likeds.each do |liked| %>
      <tr>
        <td><%= liked.restaurant_id %></td>
        <td><%= liked.user_id %></td>
        <td><%= link_to 'Show', liked %></td>
        <td><%= link_to 'Edit', edit_liked_path(liked) %></td>
        <td><%= link_to 'Destroy', liked, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Liked', new_liked_path %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Restaurants', restaurants_path %> |
<%= link_to 'Events', events_path %>
