<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @liked.restaurant_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @liked.user_id %>
</p>

<%= link_to 'Edit', edit_liked_path(@liked) %> |
<%= link_to 'Back', likeds_path %>
